[run]
source = open_cobol_ide
omit =
    # qt design ui files
    *_ui.py
    *_rc.py
    *open_cobol_ide/view/*
    *main.py
    *open_cobol_ide/extlibs/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    pass

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    def main\(\)
    def run\(self\):

    # Don't complain about platform specific code
    if sys.platform
    if hasattr\(sys, 'frozen'\):
    if windows
    if darwin

    # Don't complain if non importable code is not run
    except ImportError:

    # Don't complain about _logger function being not called
    logging.getLogger
    _logger

    # not parsing app arguments when doing test, this code will never get
    executed
    if parse_args
    for f in files:

    # platform specific functions cannot be tested on travis
    init_env
    _windows_init
    _osx_init

    # Tests are always performed with a working compiler
    def is_working
    except CompilerNotFound
    raise CompilerNotFound
     msg = 'You have to install the package open-cobol using your '
     except OSError:
     return 'Not installed'

    # PySide not tested
    PYSIDE_API
