#
# MANIFEST.in
#
# Manifest template for creating the OpenCobolIDE source distribution.

include MANIFEST.in
include setup.py
include COPYING
include README.rst
include share/*
include cobcide/ui/*
include cobcide/ui/rc/*
