#
# MANIFEST.in
#
# Manifest template for creating the OpenCobolIDE source distribution.

include MANIFEST.in
include setup.py
include LICENSE
include README.rst
include share/*
include cobcide/ui/*
include cobcide/ui/rc/*
doc/*
doc/source/*
doc/source/_static/*
# Do not add OpenCobol, this is only used for windows