[Desktop Entry]
Encoding=UTF-8
Name=OpenCobolIDE
Comment=A simple lightweight cobol IDE based on OpenCobol
TryExec=opencobolide
Exec=opencobolide %F
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/OpenCobolIDE.png
Categories=Development;IDE;
MimeType=text/x-cobol;
